* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.main {
  padding: 20px 0;
}
.main > h1 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(46, 46, 45);
  text-align: center;
}
.main > p {
  text-align: center;
  color: gray;
}
.heading-img {
  margin: auto;
  width: 300px;
  padding: 10px 0;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  width: 1320px;
  margin: 50px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1.2fr 1fr;
}
.inner {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  gap: 20px;
}
.whiteoverlay {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0.2s;
  left: 0;
  top: 0;
  height: 100%;
}
.blackoverlay {
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
  transform: scale(0);
  height: 100%;
}
.card-img:hover .whiteoverlay {
  transform: scale(1);
}
.card-img:hover .blackoverlay {
  transform: scale(1);
}
.card {
  position: relative;
}
.card .card-img {
  cursor: pointer;
  position: relative;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.card-details {
  position: absolute;
  bottom: 100px;
  left: 40px;
  z-index: 8;
  font-family: Playfair Display;
}
.card-details h6 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(46, 46, 45);
}
.card-details button {
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: white;
  border: 2px solid rgb(183, 135, 35);
  padding: 4px 8px;
  margin-top: 12px;
  position: relative;
  width: 100px;
  height: 35px;

  transition: 0.2s;
  font-family: Montserrat;
  cursor: pointer;
}

.card-details button span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: darkgoldenrod;
  color: white;
  line-height: 33px;
  z-index: 999;
}
